.w3-theme-l5 {color:#000 !important; background-color:#f2effe !important}
.w3-theme-l4 {color:#000 !important; background-color:#d2cafb !important}
.w3-theme-l3 {color:#fff !important; background-color:#a595f7 !important}
.w3-theme-l2 {color:#fff !important; background-color:#7860f3 !important}
.w3-theme-l1 {color:#fff !important; background-color:#4b2bef !important}
.w3-theme-d1 {color:#fff !important; background-color:#2b0ebc !important}
.w3-theme-d2 {color:#fff !important; background-color:#260da7 !important}
.w3-theme-d3 {color:#fff !important; background-color:#220b92 !important}
.w3-theme-d4 {color:#fff !important; background-color:#1d097d !important}
.w3-theme-d5 {color:#fff !important; background-color:#180868 !important}

.w3-theme-light {color:#000 !important; background-color:#f2effe !important}
.w3-theme-dark {color:#fff !important; background-color:#180868 !important}
.w3-theme-action {color:#fff !important; background-color:#180868 !important}

.w3-theme {color:#fff !important; background-color:#3010d1 !important}
.w3-text-theme {color:#3010d1 !important}
.w3-theme-border {border-color:#3010d1 !important}
.w3-hover-theme:hover {color:#fff !important; background-color:#3010d1 !important}
