.mainWrap {
  padding-top: 60px;
}
.breadcrumb {
  background-color: transparent;
  padding: 0;

}
.productDetails{
  width:100%;
}
/*STAR RATING UL*/
.el {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.productCarousel{
  width: 45%;
  float:left;
  margin: 0 35px;
}
.cImage{
  width:100%;
}
.cImage img{
  width: 96%;
  height: auto;
  margin: 0 auto;
}

#secondImage {
  padding-top: 10%;
}

#thirdImage {
  padding-top: 10%;
}

.productDescription {
  float: right;
  width: 45%;
}

.buyInfo {
  margin-top: 30px;
  overflow: hidden;
}

.priceTag {
  float: left;
  width: 50%;
  height: 100%;
  text-align: center;
  color: #3010d1;
}

.priceTag span {
  font-size: 2em;
  font-weight: 600;
}

.cartButton {
  float: right;
  width: 50%;
  height: 100%;
}

button.cart {
  margin: 0 auto;
}

.description {
  padding: 15px;
  padding-top: 35px;
  line-height: 1.5em;
}

.features {
  font-size: 1.1em;
}



/*MOBILE SCREEN*/

.mobile, .mobileDescription, .productImage, .mobileTitle, .info, .mobilePrice, .mobilePriceTag, .mobileCartButton, .cartBox, .addToCart{
  display: none;
}

.productImage img {
  display: none;

}

.features {
  margin: 0 auto;
  padding-bottom: 30px;
}

.specs {
  margin: 5% 20px;
  padding: 0 15px;
  border: 1px dotted gray;
}

.specs li {
  font-size: 12px;
  line-height: 24px;
}
/*PHONE SCREEN*/
@media (max-width: 767px) {

  ol.breadcrumb {
    padding-top: 50px;
  }

  .titlez {
    display: none;
  }

  .productTitlez, .productRatingz {
    display: none;
    border-bottom: none;
  }

  .productCarousel {
    display: none;
  }

  .productDescription {
    width: 85%;
    margin: 0 auto;
    float: none;
  }

  .buyInfo {
    display: none;
  }

  .description {
    padding: 10px;
    float: none;
    border-bottom: 2px solid #0468af;
    font-size: 1.1em;
  }

  .features {
    font-size: 15.4px;
    line-height: 23.1px;
  }



  /*MOBILE SCREEN*/

  .mobile, .mobileDescription, .productImage, .mobileTitle, .info, .mobilePrice, .mobilePriceTag, .mobileCartButton, .cartBox, .addToCart{
    display: block;
  }

  .mobileDescription {
    margin: 0 auto;
  }

  .productImage img {
    display: block;
    width: 100%;
    padding: 0 5%;

  }

  .mobileTitle {
    width: 85%;
    margin: 0 auto;
    margin-top: 5%;
    border-bottom: 2px solid #0468af;
  }

  span.title {
    font-size: 2em;
    font-weight: bold;
  }

  .info {
    margin-top: 10px;
  }

  .mobilePrice {
    width: 50%;
    float: left;
    border-radius: 5px;
  }

  .mobilePriceTag {
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 600;
  }

  .mobileCartButton {
    width: 50%;
    float: right;
    text-align: center;
    background: linear-gradient(to bottom, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
  }

  .cartBox {
    background: transparent;
    padding: 10px 0;
    border-radius: 5px;
  }

  span.addToCart {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
  }

}

/*TABLET*/

@media (min-width: 768px ) and (max-width: 1023px){

.breadcrumb {
  padding-top: 25px;
}

.productRatingz {
  display: none;
}

.productCarousel {
  position: relative;
  float: none;
  margin: 0 auto;
  margin-top: 25px;
  width: 90%;
  clear: both;
}
.productDescription {
  position: relative;
  float: none;
  margin: 0 auto;
  padding: 0 5%;
  width: 90%;
  clear: both;
}



}
