
div.learnMoreButton{
  position: relative;
  top: 180px;
}
.btn-lg{
  background-color: transparent;
  border: none;
  width: 250px;
  height: 88px;
  border-radius: 12px;
  border: 2px solid white;
}
.btn-lg:hover, .btn-lg > a:hover{
  background: transparent;
  border-color: rgba(133, 3, 3, 0.7);
  color: rgba(221, 205, 64, 0.65);
  text-decoration: none;
}
button.btn-lg > a {
  color: #fff;
  font-size: 30px;
}
div#products{
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, rgb(44, 22, 227), rgb(98, 33, 219)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, rgb(44, 22, 227), rgb(98, 33, 219)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, rgb(44, 22, 227), rgb(98, 33, 219)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, rgb(44, 22, 227), rgb(98, 33, 219)); /* Standard syntax */
}

div.feature-container{
  background: transparent;
  color: #fff;
  padding: 30px;
  text-align: center;
}
div.title{
  position: relative;
  top: 150px;
}
h2.feature-title{
  font-size: 5em;
}
div.benefits_description{
  padding: 0 60px;
}

span.benefits_description{
  font-size: 1.7em;
}
