/*INDEX PAGE*/
* {
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
}
h1, h2, h3, p, a, ul, li, span {
  font-family: 'Roboto', sans-serif;
}
.page-wrap{
  margin: 0;
  padding: 0;
  width: 100%;
  background: transparent;
}

.cf{
  clear: both;
}

.drawer-hamburger-icon, .drawer-hamburger-icon:after, .drawer-hamburger-icon:before {
  background-color: #fff;
}

.drawer-menu {
  padding-top: 25px;
}

.drawer-menu li {
  padding: 10px 0;
}

.drawer-brand, .drawer-menu-item {
  font-size: 1.6em;
}

img.homePageImage {
    width: 100%;
    height: auto;
}
.navbar-default {
    background-color: rgba(0, 0, 0, 0.8);
    border: none;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: transparent;
}
.navHover {
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
.navHover:hover{
  background-color: #047cd2;

}
/*#mobile{
  background-color: rgba(255, 255, 255, 0.95);
}*/
.dropdown.pull-right{
  right: 30px;
}
.drawer-hamburger{
  margin-right: 12px;
}
.round{
  background-color: rgb(221, 50, 50);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
button#links{
  background-color: transparent;
  border-color: transparent;
}

.menu > ul{
  position: fixed;
  top: 52px;
  right: -375px;
  z-index: 1030;
  border: 1px solid white;
  margin-right: 15px;
  list-style: none;
  padding: 10px;
  margin-right: 1px;


}

.menu > ul > li{
    text-align: left;
}
.menu > ul > li > a{
  color: #fff;
}

.drawer-nav{
  background-color: rgba(4, 74, 124, 0.89);

}.drawer-brand{
  color: #fff;
}.drawer-menu-item{
  color: #fff;
}

.home-wrap{
  margin: 0;
  padding: 0;
  width: 100%;
  background-image: url("../images/television.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;


}
.container-fluid#main{
margin: 0;
padding: 0;
padding-bottom: 45px;
width: 100%;
background-color: rgba(7, 112, 187, 0.72);
}
.container .jumbotron, .container-fluid .jumbotron{
  border-radius: 0px;
}
.frontPage{
  color: #fff;
  text-shadow: 1px 1px 6px rgb(32, 32, 32);
  text-align: center;
  background: transparent;
  border-radius: 0px;
  padding: 50px 0 0 0;
  margin-bottom: 0;
  width: 100%;
}
.jumbotron > div > h1{
font-size: 4em;
font-weight: 300;
}
.item > img{
  width: 100%;
}
.container-fluid#products{
  padding-top: 45px;
  background-color: rgba(255, 255, 255, 0.75);
}
div#front-page-products.container-fluid{
  background-color: white;
  margin: 0;
  padding-top: 100px;
  padding-bottom: 17%;
}
.shoppingCartStatus{
  position: relative;
  float: right;
}
.shoppingCartStatus > div{
  display: inline-block;
  padding: 10px;
}
.products{
  margin: 0 20px;
  text-align: center;
  overflow: hidden;
}
span.title{
  font-size: 18px;
  font-weight: 800;

}
section{
  overflow: hidden;
}
.product_image{
  height: 245px;
  width: 275px;
  position: relative;
  left: 25px;
}
ul.buttons{
  list-style: none;
}
.product_cart_button{
  padding: 10px;
}

.product_price{
  border-radius: 50%;
  display: block;
  color: #fff;
  height: 80px;
  width: 80px;
  text-align: center;
  top: -40px;
  line-height: 80px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 5px;
}

i.white{
  color: white;
  text-align: center;
}
i.fa-6{
  font-size: 15em;
}

span#priceTag{
  font-size: 16px;
  color: red;
  font-style: bold;
}
span#shipAndSold{
  position: relative;
  top: 50%;
}
.purchase_info{
  margin: 20px auto;
  position: relative;
  top: 100px;
  left: 0px;
  width: 100%;
  float: right;
  overflow: visible;
}
.shipping{
  position: relative;
  width: 100%;
  height: 50px;
  background: #d4eff4;
  font-size: 14px;
  padding: 8px;
  padding-bottom: 24px;
  text-align: center;
}
.price{
  height: 100%;
}
span#priceTag{
  font-weight: 900;
  font-size: 27px;
}
ul#returns{
  list-style: circle;
  padding-left: 30px;
}
.cart{
  position: relative;
}
button#addToCart{
  position: relative;
  width: 100%;
  height: 100px;
  top: 25px;

}

.product-description{
  text-align: left;
  margin: 0;
  padding-bottom: 30px;
}
div#product-description{
  display: block;
  overflow: hidden;
  margin: 0;
  position: static;
}
.content{
  text-align: left;
}

ul.productList{
  overflow: hidden;
  list-style: none;
}
li.productList{
  list-style: none;
  padding: 12px;
}
li.alt{
  background-color: rgb(220, 220, 220);
}
span.featureName {
  float: left;
  text-align: left;
}
span.feature {
  float: right;
  text-align: left;
}

footer{
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
}

}
footer .footerList {
  display: inline;
  list-style: none;

}
footer .footerListIcons {
  display: inline;
  list-style: none;
  margin-right: 10px;
}

/*HOME PAGE*/
.learnMoreButton{
  position: relative;
  top: 180px;
}
.btn-lg{
  background-color: transparent;
  border: none;
  width: 250px;
  height: 88px;
  border-radius: 12px;
  border: 2px solid white;
}
.btn-lg:hover, .btn-lg > a:hover{
  background: transparent;
  border-color: rgba(133, 3, 3, 0.7);
  color: rgba(221, 205, 64, 0.65);
  text-decoration: none;
}
button.btn-lg > a {
  color: #fff;
  font-size: 30px;
}
div#products{
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(to top, #244a66, #0677c7); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(to top, #244a66, #0677c7); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(to top, #244a66, #0677c7); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to top, #244a66, #0677c7); /* Standard syntax */
}

.feature-container{
  background: transparent;
  color: #fff;
  padding: 65px 15px;
  text-align: center;
}

div#smartTV {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(top, #daefff, #ffed8f); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom , #daefff, #ffed8f); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom , #daefff, #ffed8f); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom , #bee2ff, #fff); /* Standard syntax */
}
.homeTitle{
padding-top: 100px;
}
.vid {
  padding: 20px;
}
h2.feature-title{
  font-size: 5em;

}
.benefits_description{
  padding: 0 35px;
  text-align: left;
  line-height: 2em;
}

.feature-info{
  font-size: 1.7em;
}

.feature-list > ul > li {
  font-size: 1.7em;
  line-height: 1.5em;
}

.shopNow {
  transition-property: color, font-size, font-weight;
  transition-duration: .3s;
  transition-timing-function: linear;
}
.shopNow:hover {
  color: #0468af;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
}

.youTubeVid {
  height: 315px;
  width: 500px;
}

/*MOBILE SCREEN*/
@media (max-width: 425px) {
  .homeTitle {
    padding:0;
    padding-top: 35px;
  }
  .youTubeVid {
    height: 150px;
    width: 300px;
  }
  .vid {
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .container-fluid#main {
    padding-bottom: 50px;
  }

}

/*TABLET SCREEN*/
@media (min-width: 767px ) and (max-width: 1023px){
  /*.navbar-right {
    margin: 0;
  }
  .col-md-6 {
    padding-left: 0;
  }*/
  #main {
    padding-bottom: 45px;
  }
}


/*COLOR THEME*/
.w3-theme-l5 {color:#000 ; background-color:#f6fbff }
.w3-theme-l4 {color:#000 ; background-color:#e1f2fe }
.w3-theme-l3 {color:#000 ; background-color:#c3e5fe }
.w3-theme-l2 {color:#000 ; background-color:#a5d8fd }
.w3-theme-l1 {color:#000 ; background-color:#87ccfd }
.w3-theme-d1 {color:#fff ; background-color:#46b0fb }
.w3-theme-d2 {color:#fff ; background-color:#23a1fb }
.w3-theme-d3 {color:#fff ; background-color:#0591f5 }
.w3-theme-d4 {color:#fff ; background-color:#047cd2 }
.w3-theme-d5 {color:#fff ; background-color:#0468af }
.w3-theme-d6 {color:#fff ; background-color:#034777 }

.w3-theme-light {color:#000 ; background-color:#f6fbff }
.w3-theme-dark {color:#fff ; background-color:#0468af }
.w3-theme-action {color:#fff ; background-color:#0468af }

.w3-theme {color:#000 ; background-color:#0468af}
.w3-text-theme {color:#0591f5 }
.w3-text-theme-d {color: #0468af}
.w3-theme-border {border-color:#6bc0fc }
.w3-hover-theme:hover {color:#000 ; background-color:#6bc0fc }

.w3-theme-nav {
  background-color: rgba(35,161,251, 0.4) ;
  color: #fff;
}

/*PRODUCT PAGE*/

.page_wrap {
  width: 100%;
  height: 100%;
}

.productz {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  padding: 2%;
  flex: 1 29%;
}

.product-image img {
  max-width: 100%;
}

.product-info {
  margin-top: auto;
}

.product-cart {
  margin-top: auto;
}

@media (max-width: 480px) {
  .product-card {
    flex: 1 96%;
  }
};

@media (min-width: 481px) {
  .product-image img {
    max-width: 100%;
    max-height: 100%;
  }
}

@media (min-width: 767px) and (max-width: 1024px) {
  .product-card {
    flex: 1 96%;
  }

  .product-image img {
    max-width: 68%;
    position: relative;
    left: 15%;
  }
}

/*PRODUCT DETAIL PAGE*/

.mainWrap {
  padding-top: 60px;
}
.breadcrumb {
  background-color: transparent;
  padding: 0;

}
.productDetails{
  width:100%;
}
/*STAR RATING UL*/
.el {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.productCarousel{
  width: 45%;
  float:left;
  margin: 0 35px;
}
.cImage{
  width:100%;
}
.cImage img{
  width: 96%;
  height: auto;
  margin: 0 auto;
}

#secondImage {
  padding-top: 10%;
}

#thirdImage {
  padding-top: 10%;
}

.productDescription {
  float: right;
  width: 45%;
}

.buyInfo {
  margin-top: 30px;
  overflow: hidden;
}

.priceTag {
  float: left;
  width: 50%;
  height: 100%;
  text-align: center;
  color: #3010d1;
}

.priceTag span {
  font-size: 2em;
  font-weight: 600;
}

.cartButton {
  float: right;
  width: 50%;
  height: 100%;
}

button.cart {
  margin: 0 auto;
}

.description {
  padding: 15px;
  padding-top: 35px;
  line-height: 1.5em;
}

.features {
  font-size: 1.1em;
}



/*MOBILE SCREEN*/

.mobile, .mobileDescription, .productImage, .mobileTitle, .info, .mobilePrice, .mobilePriceTag, .mobileCartButton, .cartBox, .addToCart{
  display: none;
}

.productImage img {
  display: none;

}

.features {
  margin: 0 auto;
  padding-bottom: 30px;
}

.specs {
  margin: 5% 20px;
  padding: 0 15px;
  border: 1px dotted gray;
}

.specs li {
  font-size: 12px;
  line-height: 24px;
}
/*PHONE SCREEN*/
@media (max-width: 767px) {

  ol.breadcrumb {
    padding-top: 50px;
  }

  .titlez {
    display: none;
  }

  .productTitlez, .productRatingz {
    display: none;
    border-bottom: none;
  }

  .productCarousel {
    display: none;
  }

  .productDescription {
    width: 85%;
    margin: 0 auto;
    float: none;
  }

  .buyInfo {
    display: none;
  }

  .description {
    padding: 10px;
    float: none;
    border-bottom: 2px solid #0468af;
    font-size: 1.1em;
  }

  .features {
    font-size: 15.4px;
    line-height: 23.1px;
  }



  /*MOBILE SCREEN*/

  .mobile, .mobileDescription, .productImage, .mobileTitle, .info, .mobilePrice, .mobilePriceTag, .mobileCartButton, .cartBox, .addToCart{
    display: block;
  }

  .mobileDescription {
    margin: 0 auto;
  }

  .productImage img {
    display: block;
    width: 100%;
    padding: 0 5%;

  }

  .mobileTitle {
    width: 85%;
    margin: 0 auto;
    margin-top: 5%;
    border-bottom: 2px solid #0468af;
  }

  span.title {
    font-size: 2em;
    font-weight: bold;
  }

  .info {
    margin-top: 10px;
  }

  .mobilePrice {
    width: 50%;
    float: left;
    border-radius: 5px;
  }

  .mobilePriceTag {
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 600;
  }

  .mobileCartButton {
    width: 50%;
    float: right;
    text-align: center;
    background: linear-gradient(to bottom, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
  }

  .cartBox {
    background: transparent;
    padding: 10px 0;
    border-radius: 5px;
  }

  span.addToCart {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
  }

}

/*TABLET*/

@media (min-width: 768px ) and (max-width: 1023px){

.breadcrumb {
  padding-top: 25px;
}

.productRatingz {
  display: none;
}

.productCarousel {
  position: relative;
  float: none;
  margin: 0 auto;
  margin-top: 25px;
  width: 90%;
  clear: both;
}
.productDescription {
  position: relative;
  float: none;
  margin: 0 auto;
  padding: 0 5%;
  width: 90%;
  clear: both;
}



}

/*CONTACT PAGE*/
.contactPage-wrap {
  padding: 100px 0;
  padding-bottom: 50%;
  height: 100%;
}

#breadcrumb {
  padding: 0 75px;
  margin:auto;
}

.contactron {
  background: transparent;
}

.message {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #555;
  padding: 6px 12px;
  font-size: 14px;
}
