.productz {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  padding: 2%;
  /*flex-grow: 1;
  flex-basis: 29%;*/
  flex: 1 29%;
}

.product-image img {
  max-width: 100%;
}

.product-info {
  margin-top: auto;
}

.product-cart {
  margin-top: auto;
}

@media (max-width: 480px) {
  .product-card {
    flex: 1 96%;
  }
};

@media (min-width: 481px) {
  .product-image img {
    max-width: 100%;
    max-height: 100%;
  }
}
