body{
  position: relative;
}

.container{
  text-align: center;
}

.fa{
  color: rgb(237, 59, 59);
}
img {
    width: 100%;
    height: auto;
}
.navbar-default {
    background-color: rgba(0, 0, 0, 0.8);
    border: none;
    color: red;
}
/*#mobile{
  background-color: rgba(255, 255, 255, 0.95);
}*/
div.dropdown.pull-right{
  right: 30px;
}
.drawer-hamburger{
  margin-right: 12px;
}
button#links{
  background-color: transparent;
  border-color: transparent;
}

div.menu > ul{
  position: fixed;
  top: 52px;
  right: -375px;
  z-index: 1030;
  border: 1px solid white;
  margin-right: 15px;
  list-style: none;
  padding: 10px;
  margin-right: 1px;


}
/*div.menu > ul{
  list-style: none;

}*/
div.menu > ul > li{
    text-align: left;
}
div.menu > ul > li > a{
  color: #fff;
}
/*ul.dropdown-menu{
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0.77);

}
ul.dropdown-menu > li > a{
    color: rgb(250, 247, 217);
}
.dropdown-menu{
  margin: 0px;
  border:none;
  text-align: center;
}*/

nav.drawer-nav{
  background-color: rgba(0, 0, 0, 0.8);

}
a.drawer-brand{
  color: #fff;
}
a.drawer-menu-item{
  color: #fff;
}
span.drawer-hamburger-icon{
  color: red;
}
div.container-fluid#main{
    background-image: url("http://www.samsung.com/hk_en/consumer-images/article/2014/large-tv/MainKV_without-title-0.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0px;
    background-size: cover;
}
.container .jumbotron, .container-fluid .jumbotron{
  border-radius: 0px;
}
div.jumbotron{
  color: #fff;
  text-shadow: 1px 1px 6px rgba(230, 14, 14, 0.81);
  text-align: center;
  background-color:rgba(0, 0, 0, 0.8);
  border-radius: 0px;
  margin: 50px 0 0 0;
}
.jumbotron > div > h1{
  font-size: 54px ;
}
div.container-fluid#products{
  border: 10px double red;
  padding-top: 45px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.75);
}
