
<div class="contactPage-wrap">
  <div id="breadcrumb">
      <ol class="breadcrumb" style="margin-bottom: 5px;">
          <li><a href="#">Home</a></li>
          <li class="active">Contact</li>
      </ol>
  </div>
  <div class="jumbotron contactron">
    <div class="container">
      <div class="contactTitle">
        <h2>Contact</h2>
      </div>
      <div class="contactForm">
        <form>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="Name">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
  </div>

  <div class="form-group">
    <label for="Message">Message</label>
    <textarea name="message" class="input message" rows="8" cols="30"></textarea>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
      </div>
    </div>
  </div>

</div>
