
<div class="contactPage-wrap">
  <div id="breadcrumb">
      <ol class="breadcrumb" style="margin-bottom: 5px;">
          <li><a href="#">Home</a></li>
          <li class="active">Contact</li>
      </ol>
  </div>
  <div class="jumbotron contactron">
    <div class="container">
      <div class="contactTitle">
        <h1>Contact Us</h1>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="container">
      <div class="contactInfo" style="border: 2px solid">
        <ul>
          <li style="list-style: none;">Email Address: techkingdom11@gmail.com</li>
        </ul>
      </div>
    </div>
  </div>

</div>
