<div class="mainWrap">
    <div class="container">
        <!-- BREADCRUMBS -->
        <div id="breadcrumb w3-theme-light">
            <ol class="breadcrumb " style="margin-bottom: 5px;">
                <li><a href="#">Home</a></li>
                <li><a href="#/products">Products</a></li>
                <li class="active">{{products[whichItem].name}}</li>
            </ol>
        </div>
        <!-- PRODUCT DIV -->
        <div class="productWrap">
            <div class="row">
                <div class="col-md-12 titlez" style="border-bottom: 2px solid; overflow: hidden;">
                    <div class="productTitlez" style="float: left">
                        <h1>{{products[whichItem].name}}</h1>
                    </div>
                    <div class="productRatingz" style="float: right; padding-top: 20px;">
                        <span class="small_grey">Rate this product:</span>
                        <i class="fa fa-star-o fa-2x" aria-hidden="true"></i>
                        <i class="fa fa-star-o fa-2x" aria-hidden="true"></i>
                        <i class="fa fa-star-o fa-2x" aria-hidden="true"></i>
                        <i class="fa fa-star-o fa-2x" aria-hidden="true"></i>
                        <i class="fa fa-star-o fa-2x" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <!-- PRODUCT TITLE ENDS -->

            <!-- PRODUCT CAROUSEL/DESCRIPTION BOX -->
            <div class="row">
                <div class="productDetails">
                    <div class="productCarousel">
                        <div class="cImage">
                          <img ng-src="{{products[whichItem].image[0]}}" alt="" />
                        </div>
                        <div class="cImage">
                        <img id="secondImage" ng-src="{{products[whichItem].image[1]}}" alt="" />
                        </div>
                        <div class="cImage">
                          <img id="thirdImage" ng-src="{{products[whichItem].image[2]}}" alt="" />
                        </div>
                    </div>
                    <!-- CAROUSEL ENDS -->

                    <!-- MOBILE SCREEN STARTS -->
                    <div class="container mobile">
                        <div class="mobileDescription">
                            <div class="productImage">
                                <img ng-src="{{products[whichItem].image[0]}}" alt="" />
                            </div>
                            <div class="mobileTitle">
                                <span class="title">{{products[whichItem].name}}</span>
                            </div>
                            <div class="info">
                                <div class="mobilePrice">
                                    <div class="mobilePriceTag">
                                        {{products[whichItem].price | currency}}
                                    </div>
                                </div>
                                <div class="product-button">
                                    <ngcart-addtocart id="{{products[whichItem].name}}" name="{{products[whichItem].name}}" price="{{products[whichItem].price}}" quantity="1" quantity-max="5">
                                        Add to Cart
                                    </ngcart-addtocart>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- MOBILE SCREEN ENDS -->

                    <!-- PRODUCT DESCRIPTION BOX -->
                    <div class="container ">
                        <div class="productDescription">
                            <div class="buyInfo">
                                <div class="priceTag w3-text-theme">
                                    <span class="price">{{products[whichItem].price | currency}}</span>
                                </div>
                                <div class="product-button">
                                    <ngcart-addtocart id="{{products[whichItem].name}}" name="{{products[whichItem].name}}" price="{{products[whichItem].price}}" quantity="1" quantity-max="5">
                                        Add to Cart
                                    </ngcart-addtocart>
                                </div>

                            </div>

                            <div class="description">
                              <div class="effect6">
                                <h3>Product Description</h3>
                                <p>
                                    {{products[whichItem].description}}
                                </p>
                              </div>
                            </div>
                        </div>
                    </div>
                    <!-- LARGE SCREEN DESCRIPTION ENDS -->
                </div>
            </div>
            <div class="container features">
                <div class="row features">
                    <div class="col-md-12">
                        <div>
                            <h3>Specifications</h3>
                        </div>
                    </div>
                    <div class="row features">
                        <div class="col-md-12">
                            <span>Please note: there will be no subscriptions, activations, TV channels or any other audio/video content provided with this unit. If you want to activate the box with a subscription that we currently offer, click here!. If you want to activate with someone else, that is fine too!</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>

<script>
    $(document).ready(function() {
        $('.productCarousel').slick({
            arrows: true,
            dots: true,
            infinite: true,
            speed: 500,
            slidesToShow: 1,
            slidesToScroll: 1
        });
    });
</script>
