<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Whatever</title>
</head>
<body>
<div class="container" style="position: relative; top: 15px;">
  <div class="content-wrapper">
    <ul id="productList">
      <li class="row productList alt">
        <span class="col-md-5 featureName">Feature Name</span>
        <span class="col-md-7 feature">Feature</span>
      </li>
      <li class="row productList">
        <span class="col-md-5 featureName">Feature Name</span>
        <span class="col-md-7 feature">Feature</span>
      </li>
      <li class="row productList alt">
        <span class="col-md-5 featureName">Feature Name</span>
        <span class="col-md-7 feature">Feature</span>
      </li>
      <li class="row productList">
        <span class="col-md-5 featureName">Feature Name</span>
        <span class="col-md-7 feature">Feature</span>
      </li>
      <div style="clear: both;"></div>
    </ul>

  </div>

</div>



<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>
