<div class="home-wrap">
  <div class="container-fluid" id="main">
    <div class="jumbotron">
      <div class="title">
        <h1>Welcome to Tech Kingdom</h1>
          <p>
            Are you sick of paying a ton of money to your TV provider? We can offer a cheap alternative: IPTV Box.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- ANDROID/IPTV INFO -->
    <div class="container-fluid" id="products">
      <div class="container-fluid" class="feature-container" style="color: #fff; padding-bottom: 30px;">
        <div class="row" style=" text-align: left;">
          <div class="col-xs-12">
            <i class="fa fa-android fa-5x" aria-hidden="true" id="android"></i>
            <h2 class="feature-title">Stream Online</h2>
            <div class="col-xs-12 col-md-7">
              <span class="benefits_description">
                Add the ultimate entertainment device to your TV. Gain access to ALL of your favourite channels. Watch what you want, when you want. IPTV service allows you to watch LIVE SPORTS and SHOWS and the best part is, you only need an internet connection!</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid w3-theme-light w3-text-theme">
      <div class="container-fluid" style="padding: 30px ;">
        <div class="row">
          <div class="description">
            <div class="col-xs-12 col-md-7 col-md-offset-5">
              <i class="fa fa-television fa-5x" aria-hidden="true" id="tv"></i>
              <h2 class="feature-title">Smart TV</h2>
              <span class="benefits_description">Simply by plugging the device into your television, you will have INSTANT ACCESS to the Android app store allowing you to check your Facebook, browse the Internet, or watch YouTube videos while you watch TV.</span>
            </div>
          </div>
          </div>
        </div>
      </div>
      <div class="container-fluid" id="products">
        <div class="container-fluid" class="feature-container" style="color: #fff; padding-bottom: 30px;">
          <div class="row" style=" text-align: left;">
            <div class="col-xs-12">
              <h2 class="feature-title">SAVE MONEY</h2>
              <div class="col-xs-12 col-md-7">
                <span class="benefits_description">
                  With full access to all the channels you want, there is no need for you to pay your local TV provider. Dubbed as the "Cable Killer", IPTV is completely legal and is here to stay. Purchase our IPTV subscription for $20/month and start saving!</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="container-fluid w3-theme-light" style="height: 160px;">
      <div style="width: 100%;background:transparent; position:relative;top:25%">
      <h2 style="text-align: center;"><a href="#/learnMore" style="color:#3010d1">Shop Now</a></h2>
      </div>

    </div>
