<!-- PRODUCTS -->
<!-- CART -->
<div class="container-fluid w3-text-theme" id="front-page-products" ng-controller="myCtrl" >
<div class="row">
    <div class="col-xs-offset-8 col-xs-4">
      <div class="shoppingCartStatus">
        <div class="shoppingCartButton">
          <a href="#home/cart"><i class="fa fa-shopping-cart fa-3x" aria-hidden="true"></i></a>
        </div>
        <div class="shoppingCartSummary">
          <ngcart-summary></ngcart-summary>
        </div>
      </div>
      <div class="cf"></div>
    </div>
</div>
      <hr />
           <!-- <h3>Add to Cart <span>(ngcart-addtocart)</span></h3> -->
<section class="productz" >
  <div class="product-card" ng-repeat="product in products">
    <div class="product-image">
      <a href="#/details/{{products.indexOf(product)}}"><img ng-src="{{product.image}}"/></a>
    </div>
    <div class="product-info">
      <h5>{{product.name}}</h5>
      <h6>{{product.price | currency}}</h6>
    </div>
    <div class="product-button">
      <ngcart-addtocart id="{{product.name}}" name="{{product.name}}" price="{{product.price}}" quantity="1" quantity-max = "5">
      Add to Cart
      </ngcart-addtocart>
    </div>
  </div>
  <!-- product card close -->
</section>
</div>
